.container {
  padding: 0 2rem;
}

.main {
  min-height: calc(100vh - 40px);
  padding: 4rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
}